/* buttons.css */

/* taken and adapted from : https://www.fabriziovanmarciano.com/button-styles/ */
.default-button {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-align: center;
	text-transform: uppercase;
 	padding: 20px;
 	width: 200px;
 	transition: all 0.2s;
 	cursor: pointer;
 	margin: 5px;
 }
 
.default-button:hover {
border-radius: 50px;
/* inherits original colour and makes it brighter on hover */
filter: brightness(300%);
color: white;
transition: all 0.3s ease 0s;
}


/* menu icon */

.burger-row {
  width: 35px;
  height: 5px;
  margin: 6px 0;
}