/* buttons.css */

/* taken and adapted from : https://www.fabriziovanmarciano.com/button-styles/ */
.default-button {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-align: center;
	text-transform: uppercase;
 	padding: 20px;
/* 	width: 200px;
*/ 	transition: all 0.2s;
 	cursor: pointer;
 	margin: 5px;
 }
 
.default-button:hover {
border-radius: 50px;
background: white;
border-color: #000000;
color: inherit;
transition: all 0.3s ease 0s;
}