/* set variables for colours */
:root {
    --color-orange: #f18f01;
    --color-turquoise: #048ba8;
    --color-darknavy: #2e4057;
    --color-green: #99c24d;
    --color-darkgrey: #2f2d2e;
    --color-lightgrey: #b5b1b4;
}


/* Colours */

/* Background Colours */
.blog-orange-bg {
	background: var(--color-orange);
}

.blog-turquoise-bg {
	background: var(--color-turquoise);
}

.blog-darknavy-bg {
	background: var(--color-darknavy);
}

.blog-green-bg {
	background: var(--color-green);
}

.blog-darkgrey-bg {
	background: var(--color-darkgrey);
}

.blog-lightgrey-bg {
	background: var(--color-lightgrey);
}



/* Font Colours */
.blog-orange-font {
	color: var(--color-orange);
}

.blog-turquoise-font {
	color: var(--color-turquoise);
}

.blog-darknavy-font {
	color: var(--color-darknavy);
}

.blog-green-font {
	color: var(--color-green);
}

.blog-darkgrey-font {
	color: var(--color-darkgrey);
}

.blog-lightgrey-font {
	color: var(--color-lightgrey);
}

.blog-white-font {
	color: white;
}