
/* Flex Box CSS */

/* use flexbox to vertically and horziontally align an item*/
.flex-vertical-horizontal-centre {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* GRID CSS for Layout */

/* 5 column grid */
.grid-5-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1rem;
}

/* 4 column grid */
.grid-4-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1rem;
}

/* 3 column grid */
.grid-3-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1rem;
}

/* 2 column grid */
.grid-2-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1rem;
}

/* 1 column grid */
.grid-1-columns {
	display: grid;
	grid-template-columns: 1fr;
}